<table class="table table-hover  employee-table">
  <tbody>
    <!-- <tr>
      <td>
        <div class="Employee-title">
          <div class="employee-name">Synechron Technologies Pvt Ltd</div>
          <div class="employee-details"><div class="employee_des">UI/UX Designer</div>
          <div class="text-blue">Start Date: January 18, 2018    End Date: January 18, 2018</div>
        </div></div>
      </td>
      <td>
        <ul>
          <li><span class="rounded-circle"></span></li>
          <li><span class="rounded-circle"></span></li>
          <li><span class="icon-settings-cog"></span></li>
        </ul>
      </td>           
      <td>
        <div class="project-actions">
          <div class="btn-border blue">
            <div class="btn blue-btn">Message</div>
          </div>             
          
          <div class="btn-border orange">
              <div class="btn orange-btn">Work</div>
            </div>

        </div>
      </td>
    </tr> -->
    <tr *ngFor="let project of projectList">
      <td>
        <div class="Employee-title">
          <div class="employee-name">{{project.title}}</div>
          <div class="employee-details">
            <div class="employee_des">{{project.goal}}/{{project.process}}</div>
            <div class="text-blue">Start Date: {{project.date_start}} End Date: {{project.date_end}}</div>
          </div>
        </div>
      </td>
      <td class="projectmember">
        <div>
          <ul>
            <li>
              <span class="rounded-circle">
                <img src=""/>
              </span>
            </li>
            <li>
              <span class="rounded-circle"></span>
            </li>
            <li>
              <span class="icon-tool"></span>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <div class="project-actions">
          <div class="btn-border blue">
            <div class="btn blue-btn">Message</div>
          </div>

          <div class="btn-border orange" (click)="onWork(project.id)">
            <div class="btn orange-btn">Work</div>
          </div>

        </div>
      </td>
    </tr>

  </tbody>
</table>

<app-pagination class="my-pagination" [pageSize]="pageSize" [pagesQuantity]="count" (pageChanged)="getOngoingProjects($event)"></app-pagination>